.planningForm {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .planningFormTitle {
    font-size: 1.5rem;
  }

  .planningFormButton {
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 16px 40px rgba($color: black, $alpha: 0.3);
    background-color: #007ed9;
    transition: all 0.2s ease;

    &:disabled {
      box-shadow: none;
      background-color: #cccccc;
      color: #666666;
    }
  }
}
