.planningForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .planningFormButton {
    background-color: aqua;
    &:disabled {
      background-color: gray;
    }
  }
}
