@import "variables.scss";

.locationSearchInput {
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: $border-radius;
  position: relative;
  line-height: 18px;
  width: 100%;
  display: flex;

  .locationSearchInputIcon {
    padding: $padding;
  }

  .locationSearchInputCurrentPosition {
    margin-right: $padding;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .locationSearchInputField {
    padding: $padding;
    flex: 1;

    .locationSearchInputFieldDropdownContainer {
      position: relative;

      input {
        width: 100%;
        border: none;
      }

      .locationSearchInputFieldDropdown {
        cursor: pointer;
        box-shadow: $box-shadow-position rgba($color: black, $alpha: 0.1);
        z-index: 1;
        top: calc(100% + $padding + 1px);
        background-color: white;
        position: absolute;
        padding: $padding;

        .locationSearchInputFieldDropdownSuggestion {
          padding: $padding;

          &.active {
            color: white;
            background-color: $blue;
          }
        }
      }
    }
  }
}
